$global-link-color: #ff4600;
$global-primary-background: #ff4600;
$button-primary-background: $global-primary-background !default;
$button-primary-hover-background: darken($button-primary-background, 15%) !default;
$text-lead-color: #646464;
$global-font-family: 'Poppins', sans-serif;

@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/900.css';

@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';

@mixin hook-section-secondary() {
	background: #080808;
}

@import 'uikit/src/scss/uikit-theme.scss';

html {
	scroll-behavior: smooth;
}

body {
	overflow: overlay;
	overflow-x: hidden;
	&::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0);
	}
	&::-webkit-scrollbar {
		width: 8px;
		background-color: rgba(0, 0, 0, 0) !important;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ff4600;
	}
}

body {
	&.light::-webkit-scrollbar-thumb {
		background-color: #ff4600;
	}

	&.dark::-webkit-scrollbar-thumb {
		background-color: #757575;
	}
}

.opacity-0 {
	webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	opacity: 0 !important;
}

.opacity-25 {
	opacity: 0.25 !important;
}

.opacity-50 {
	opacity: 0.5 !important;
}

.opacity-75 {
	opacity: 0.75 !important;
}

.opacity-100 {
	opacity: 1 !important;
}

.uk-divider-small {
	line-height: 0;
	&::after {
		content: '';
		display: inline-block;
		width: 80px;
		max-width: 100%;
		border-top: 2px solid #ff4600;
		vertical-align: top;
	}
}

.cust-background-secondary {
	background-color: #080808 !important;
}

.main-heading {
	font-size: 48px;
	line-height: 1.2;
	color: #111;
	font-weight: 100;
	text-transform: uppercase;
}

.cust-cookie-constent {
	color: white;

	h3,
	a {
		color: white;
	}
}

@media (max-width: 640px) {
	.cust-cookie-constent {
		margin-bottom: 0px !important;
		margin-left: 0px !important;
	}
}

.uk-box-shadow-heavy {
	box-shadow: 0 28px 50px rgb(0 0 0);
}

@-webkit-keyframes bounceInUp {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounceInUp {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.bounceInUp {
	animation-delay: 1s;
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}
}

@keyframes bounceOutLeft {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}
}

.uk-background-light-dark {
	background-color: #757575;
}

.bounceOutLeft {
	animation-delay: 0s !important;
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
}
